.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hideElement{
  display: none;
}

#ctl00_ContentPlaceHolder1_GridViewApproved td:nth-of-type(5),#ctl00_ContentPlaceHolder1_GridViewApproved th:nth-of-type(5),tr:last-child{
  display: none;
}

#tablebottom td, #tablebottom th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 15px;
}